<nav class="navbar-custom">
  <a class="navbar-logo" href="/">
      <img src="/assets/logo.png" alt="Logo" class="Logo">
  </a>
  <div class="menu-1">
      <ul>
          <li a class= "active" href="/">HOME</li>
          <li>Work</li>
          <li>Contact</li>
          <li>About Me</li>
          <li>Q&A</li>
      </ul>
  </div>
  <div class="menu-2">    
      <ul>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">LOGIN</a></li>
      </ul>
  </div>
</nav>