<!DOCTYPE html>
<html>
  <%- include("partials/head"); %>

  <body>
    <%- include("partials/navbar"); %>
    <% if (failed.length > 0) { %>
      <div class="alert alert-danger"><%= failed %></div>
  <% } %>
    <div class="loginContainer">
      <div class="login">
        <div class="loginTitle">
          <h1>LOGIN TO CONTINUE</h1>
        </div>
        <div class="loginBox">
          <form class="loginForm" action="/auth/login" method="post">
            <div class="unameWrap">
              <input class="uname" type="text" name="username" placeholder="Username">
            </div>
            <div class="passWrap">
              <input class="pass" type="password" name="password" placeholder="Password">
            </div>
            <div class="btnWrap">
              <button type="submit">LOGIN</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>