<!DOCTYPE html>
<html>
  <%- include("partials/head"); %>

  <body>
    <%- include("partials/navbar"); %>
    <% if (success.length > 0) { %>
      <div class="alert alert-success"><%= success %> <a href="/login" class="alert-link">Go to Login Page</a></div>
  <% } %>
    <% if (failed.length > 0) { %>
      <div class="alert alert-danger"><%= failed %></div>
  <% } %>
    <div class="loginContainer">
      <div class="login">
        <div class="loginTitle">
          <h1>SIGN UP HERE</h1>
        </div>
        <div class="loginBox">
          <form class="loginForm" action="/auth/register" method="post">
            <div class="emailWrap">
              <input class="email" type="text" name="email" placeholder="Email">
            </div>
            <div class="nameWrap">
              <input class="name" type="text" name="name" placeholder="Name">
            </div>
            <div class="unameWrap">
              <input class="uname" type="text" name="username" placeholder="Username">
            </div>
            <div class="passWrap">
              <input class="pass" type="password" name="password" placeholder="Password">
            </div>
            <div class="btnWrap">
              <button type="submit">SIGN UP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>