<!DOCTYPE html>
<html>
  <%- include("partials/head"); %>
  <body>
    <%- include("partials/navbar"); %>
    <div class="table-wrapper">
      <div class="container table">
        <div class="Title">
          <h1>ROOMS HISTORY</h1>
        </div>
        <div class="username">
          <h1>Your Username: <%= username %></h1>
          <h1>Your Token: <%= token %></h1>
        </div>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Room Name</th>
              <th scope="col">Player 1 Name</th>
              <th scope="col">Results</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(i => { %>
            <tr>
              <th scope="row"><%= i.id %></th>
              <td><%= i.name %></td>
              <td><%= i.userRoom.username %></td>
              <td><%= i.result %></td>
            </tr>
            <% }) %>  
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
