body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
}

.navbar-logo {
  width: 70px;
  margin-left: 5%;
}

.navbar-custom {
  background-color: #343a40;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: static;
  top: 0;
  right: 0;
  padding: 10px 20px;
  text-transform: uppercase; 
}

.navbar-custom ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-1 {
  padding-right: 20%;
}

.menu-2 {
  padding-right: 10%;
}

.navbar-custom li {
  float: left;
  margin: 0 10px;
}

.navbar-custom li:hover {
  color: #f9b23e !important;
  
}

.navbar-custom li {
  color: white;
  
}

.navbar-custom .active {
  color: #f9b23e;
}

.navbar-custom a {
color: white;
text-decoration: none;
}

.navbar-custom a:hover {
color: #f9b23e !important;
text-decoration: none;
}

.loginContainer {
  background-image: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url(../assets/main-bg.jpg);
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  width: 25rem;
}

.loginTitle h1 {
  font-size: 28px;
  color: white;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.1rem;
}

.Title h1 {
  font-size: 28px;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.1rem;
}

.username h1 {
  font-size: 20px;
  color: white;
  line-height: 1.2;
  display: block;
  letter-spacing: 0.1rem;
}

.username {
  overflow-wrap: break-word;
  background-color: #343a40;
  padding: 10px;
}


.loginForm {
  background-color: white;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 30px;
  width: 100%;
}

.unameWrap {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0;
}

.emailWrap {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0;
}

.nameWrap {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0;
}


.passWrap {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0;
}

input {
  font-size: 20px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 50px;
  background: 0 0;
  padding: 0 10px 0 30px;
  border: none;
}

.btnWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.btnWrap button {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: #ffc727;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btnWrap button:hover {
  color: black !important;
}

.alert {
  margin-bottom: 0 !important;
}

.table-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  align-content: center;
  background-image: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url(../assets/main-bg.jpg);
  background-position: center;
  background-size: cover !important;
  padding-bottom: 20vh;
}

@media only screen and (max-width: 768px) {
  .loginContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .loginBox {
    width: 20rem;
  }
}